body {
        font-family: Consolas, Lucida Console, monospace;
        font-size: 15px;
        line-height: 1.5;
        color: #555;
    }

    .header .icon {
        height: 1em;
    }

    .container {
        margin: 1em auto;
        max-width: 50em;
        padding: 1em;
    }

    .footer {
        clear: left;
        padding-top: 2em;
    }

    a{
        color: #0033CC;
        text-decoration: none;
    }

    a:visited{
        color: #0033CC;
        text-decoration: none;
    }

    p{
        text-align: justify;
    }

    strong {
        color: #333;
        font-weight: bold;
        font-style: italic;
    }

    .chat-sample-image {
        width: 100%;
        max-width: 1080px;
    }

    .col {
        width: 100%;
    }

    /* mobile first, but expand if the screen is bigger */
    @media screen
        and (min-width: 1024px)
        and (orientation: landscape) {
        .container {
            width: 50vw;
        }

        .row {
            display: inline-block;
        }

        .col {
            float: left;
            width: 50%;
        }

        .col p {
            padding: 1em;
        }
    }

    @media screen
        and (max-width: 1024px)
        and (orientation: portrait) {
        body {
            font-size: 25px;
        }
    }